// actual window Breakpoints
$win-breakpoint-full: 1600px;
$win-breakpoint-x-large: 1440px;
$win-breakpoint-large: 1280px;
$win-breakpoint-medium: 960px;
$win-breakpoint-mid: 840px;
$win-breakpoint-small: 600px;
$win-breakpoint-smaller: 480px;
//colors
//Default
$color-primary-grey-default: #E0E0E0;
$color-primary-grey-hue-1: #F5F5F5;
$color-primary-grey-hue-2: #EEEEEE;
$color-primary-grey-hue-3: #BDBDBD;
$color-primary-grey-hue-4: #757575;