<md-list>
  <md-subheader class="md-no-sticky">New Quotes</md-subheader>
  <md-list-item ng-repeat="quote in vm.getNewQuetes()" class="noright">
    <p>{{ quote.content }}</p>
    <md-button md-svg-icon="communication:email" ng-click="vm.postNewQuote($event, quote)" aria-label="Post Quote" class="md-secondary md-hue-3">Post</md-button>
    <md-button class="md-secondary" ng-click="vm.deleteNewQuote($event, quote)" aria-label="Chat" md-svg-icon="communication:message">Delete</md-button>
  </md-list-item>
</md-list>