<div flex layout="column" layout-gt-sm="row">
  <div flex="50">
    <md-content class="quotes_container">
      <md-list>
        <md-subheader class="md-no-sticky"><h1>New Quotes</h1></md-subheader>
        <md-list-item ng-repeat="quote in vm.getNewQuetes()" class="noright" ng-model="quote">
          <p>{{ quote.content }}</p>
          <md-button class="md-secondary md-primary md-raised" md-svg-icon="communication:email" ng-click="vm.postNewQuote($event, quote)" aria-label="Post Quote">Post</md-button>
          <md-button class="md-secondary md-accent md-raised" ng-click="vm.deleteNewQuote($event, quote)" aria-label="Chat" md-svg-icon="communication:message">Delete</md-button>
          <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
    </md-content>
  </div>
  <div style="width: 25px; height: 10px;"></div>
  <div flex="50">
    <md-content class="quotes_container">
      <md-list>
        <md-subheader class="md-no-sticky"><h1>Posted Quotes</h1></md-subheader>
        <md-list-item ng-repeat="quote in vm.getPostedQuotes()" class="noright" ng-model="quote">
          <p>{{ quote.content }}</p>
          <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
    </md-content>
  </div>
  </div>