<div flex layout="column">
  <div flex layout="row">
    <md-content flex class="quote_form">
      <form name="vm.quoteForm" class="css-form">
        <div flex layout="column" layout-gt-md="row" layout-padding>
          <div flex="20">
            <md-input-container class="md-block">
              <label>Author</label>
              <input ng-model="vm.newQuote.author">
            </md-input-container>
          </div>
          <div flex="70">
            <md-input-container class="md-block">
              <label>Quote</label>
              <input ng-model="vm.newQuote.content" name="quote" required>
              <div ng-messages="quoteForm.quote.$error" multiple md-auto-hide="false">
                <div ng-message="required">
                  is required!
                </div>
              </div>
            </md-input-container>
          </div>
          <div flex="10">
            <md-button class="md-secondary md-primary md-raised" ng-click="vm.addNewQuote(vm.newQuote)" aria-label="Post Quote" type="submit">Add</md-button>
            <md-button class="md-secondary md-accent md-raised" ng-click="vm.cancelNewQuote()" aria-label="Delete Quote" ng-if="vm.activeCancelBtn()">Cancel</md-button>
          </div>
        </div>
      </form>
    </md-content>
  </div>
  <div style="width: 25px; height: 10px;"></div>
  <div flex layout="column" layout-gt-md="row">
    <div flex="50">
      <md-content class="quotes_container">
        <md-list>
          <md-subheader class="md-no-sticky"><h1>New Quotes</h1></md-subheader>
          <md-list-item ng-repeat="quote in vm.getNewQuetes()" class="noright" ng-model="quote">
            <p><b ng-if="!!quote.author">{{quote.author}}:</b> {{quote.content}}</p>
            <md-button class="md-secondary md-primary md-raised" ng-click="vm.postNewQuote(quote)" aria-label="Post Quote">Post</md-button>
            <md-button class="md-secondary md-accent md-raised" ng-click="vm.deleteNewQuote(quote)" aria-label="Delete Quote">Delete</md-button>
            <md-divider ng-if="!$last"></md-divider>
          </md-list-item>
        </md-list>
      </md-content>
    </div>
    <div style="width: 25px; height: 10px;"></div>
    <div flex="50">
      <md-content class="quotes_container">
        <md-list>
          <md-subheader class="md-no-sticky"><h1>Posted Quotes</h1></md-subheader>
          <md-list-item ng-repeat="quote in vm.getPostedQuotes()" class="noright" ng-model="quote">
            <p><b ng-if="!!quote.author">{{quote.author}}:</b> {{quote.content}}</p>
            <md-divider ng-if="!$last"></md-divider>
          </md-list-item>
        </md-list>
      </md-content>
    </div>
  </div>
</div>