.main {
  &__container {
    &-content {
      padding: 24px 24px 0;
      overflow-y: scroll;

      @media screen and (max-width: 960px) {
        padding: 16px 16px 0;
      }

      background: url("../asset/images/bg_rain.png");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  }
}

md-content {
  &.quotes_container {
    background-color: rgba(250,250,250,0.6);
  }

  &.quote_form {
    background-color: rgba(250,250,250,0.6);
  }
}
