<md-toolbar class="md-whiteframe-z4">
    <div flex layout="row" layout-align="start center">
	    <!--<div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="true"></div>-->
	    <md-button class="md-fab btn_facebook-box" aria-label="Facebook Login" ng-click="vm.FBLogin()" ng-if="!vm.isUserLogedin">
		    <ng-md-icon icon="facebook-box" style="fill:steelblue" size="32"></ng-md-icon>
		    <md-tooltip md-direction="right">Facebook Login</md-tooltip>
	    </md-button>
	    <md-button class="md-fab btn_facebook-box" aria-label="Facebook Login" ng-click="vm.FBLogout()" ng-if="vm.isUserLogedin">
		    <ng-md-icon icon="logout" style="fill:steelblue" size="32"></ng-md-icon>
		    <md-tooltip md-direction="right">Facebook Logout</md-tooltip>
	    </md-button>
	    {{vm.getUserName()}}
    </div>
</md-toolbar>